body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-outfit: Outfit;
  
    /* font sizes */
    --font-size-base: 16px;
  
    /* Colors */
    --color-white: #fff;
    --color-mediumaquamarine: #0ab28b;
    --color-darkslategray-100: #2f3032;
    --color-lightgray: #ccc;
    --color-gainsboro: rgba(217, 217, 217, 0.2);
  
    /* Paddings */
    --padding-3xl: 22px;
    --padding-9xl: 28px;
    --padding-8xs: 5px;
  
    /* Border radiuses */
    --br-lg: 18px;
    --br-33xl: 52px;
  }
  